// Navigation code here
nav {
  background-color: @nav-bg;
  .flex(column, center, center);

  h1 {
    font-size: 3.2rem;
    line-height: 1.5;
  }
  .links {
    width: 60%;
    width: 100%;
    .flex(row, center, flex-start);
    margin: 1rem 0;

    @media @phone {
      justify-content: space-evenly;
    }

    a {
      margin: 0 1%;
      text-decoration: none;
      font-size: 1.6rem;
      color: @header-font-color;

      @media @tablet {
        margin: 0 2%;
      }

      @media @phone {
        margin: 0;
      }
    }
  }
}